*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: left; 
    padding: 10px;
    margin-left: 10px;
}
img{
    width: 170px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
body{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color: ghostwhite;
    min-height: 100vh;
}
.navigation{
    position: fixed;
    background: linear-gradient(269.92deg, #12FF72 -93.1%, #075B29 119.1%);
    height: 100%;
    width: 250px;
    padding-left: 4px;
    padding-right: 4px;
}
.navigation ul{
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
}
.navigation ul li a{
    color: ghostwhite;
    font-size: 20px;
    text-decoration: none;
}
#legendamenu{
    color: ghostwhite;
    font-size: 15px;
    margin-left: 40px;
}
.menu{
    padding: 5px;
    position: flex;
    align-items: center;
}
.submenu{
    margin-left: 40px;
}
.submenu #text-submenu{
    font-size: 15px;
}
.icone{
    font-size: 25px;
    margin: 6px;
    vertical-align: middle;
}
.partedecima{
    height: 150px;
}
.partemeio{
    height: 300px;
}
.partebaixo{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 150px;
}
.perfil .home .equipamentos .brindes .usuario .sobrenos .sair a:hover{
    text-decoration: overline;
    border-left-color: #12FF72;
}