*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #111;
}
:root{
    --verde: #0DB551;
    --verde-florescente: #12FF72;
    --roxo: #7C12CD;
    --roxo-claro: #DABDF0;
    --preto: #111;
    --card-login: #707070;
    --branco: #FCFCFC;
    --cinza: #E7E7E7;
    --cinza-inativo: #C4C4C4;
    --cinza-input: #f0f0f0;
}

h1{
    font-family: var(--font-titulo-sub);
    font-size: 40px;
    color: var(--preto);
}
h2{

    font-family: var(--font-titulo-sub);
    font-size: 32px;
    color: var(--preto);
}
h3{
    font-family: var(--font-titulo-sub);
    font-size: 24px;
    color: var(--preto);
}
h4{
    font-family: var(--font-titulo-sub);
    font-size: 22px;
    color: var(--preto);
}
h5{
    font-family: var(--font-titulo-sub);
    font-size: 18px;
    color: var(--preto);
}
h6{
    font-family: var(--font-titulo-sub);
    font-size: 16px;
    color: var(--preto);
}
p{
    font-family: var(--font-paragrafo);
    font-size: 14px;
    color: var(--preto);
}
body{
    display: flex;
}
iframe{
    height: auto;
    width: 15.6rem;
    border: none;
}
.container-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.content{
    flex: 2;
}

/* COLA SEU CSS AQUI */

/*------------------------------------------TOPO*/
#area_topo{
    display: flex;
    justify-content: space-between;
}
#areatabela{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.scroll-tabela{
    margin: 2% 0;
}
#area_botoes{
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
}
/*----------------------------------------titulo*/
#areatitulo{
    padding: 30px 0 0 40%;
}
#areatitulo h1{
    font-weight: bold;
    align-items: flex-end;
}
/*---------------------------------------buscar*/
#buscarkits{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 10% 0 0;
    margin-right: 10%;
    border-bottom: 2px solid var(--cinza-inativo);
    width: 10%;
    /*transform: translateX(34rem);*/
}
#icon-k{
    /*transform: scale(0.8) translateY(3px);*/
    margin-bottom: 0;
    border: none;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--branco);
}
#input-buscar{
    margin-left: 10px;
    border: none;
    font-size: 18px;
    font-family: var(--font-paragrafo);
    outline: none;
    background: var(--branco);
}
#icon-k img{
    width: 25px;
}
/*---------------------------------------tabela*/
#areatabela{ /*area total da tabela*/
    height: 85vh;
    width: 95%;
    margin: 0 4% 0 2%;
    justify-content: flex-start;
}
.scroll-tabela{
    height: 90vh;
    width: 99%;
}
.table{ /*area que determina o tamanho da linha de forma geral*/
    height: 20vw;
    width: 95%;
}
/*-----------------------------------scroll bar*/
.scroll-tabela{
    overflow: scroll;
    max-height: 95%;
    min-height: 20%;
}
.scroll-tabela::-webkit-scrollbar{
    width: 10px;
    height: 0px;
}
.scroll-tabela::-webkit-scrollbar-track{
    background-color: var(--cinza);
    border-radius: 30px;
    height: 100px;
}
.scroll-tabela::-webkit-scrollbar-thumb{
    background-color: var(--verde-florescente);
    border-radius: 30px;
}
/*----------------------------------tHEAD*/
#categoria_k, #descriçao_k, #quantidade_k{
    font-size: 32px;
    font-weight: lighter;
    border-bottom: 3px solid var(--verde);
}
/*---------------------------------tabela e espaçamentos entre linhas e colunas*/
/*#areatabela table{
    border-collapse: separate;
    border-spacing: 10px 5px;
}*/
/*---------------------------------linhas tabela*/
#areatabela tbody{
    font-size: 18px;
}
#areatabela tr{
    text-align: center;
}
.nome-l, .descriçao-l, .quantidade-l{
    border-bottom: 1px solid var(--cinza-inativo);
}
#img-editar{
    width: 15px;
}
td #editar_kits{
    padding-right: 5px;
}
#coluna-descriçao{
    text-align: center;
}
/*-------------------linha expansiva*/
.subRow td{
    display: flex;
    justify-content: space-between;
    width: 230%;
}
.subRow td p{
    font-size: 18px;
}
.subRow td:hover{
    border: 2px solid var(--roxo);
    border-radius: 10px;
}
.qtdd-brinde-kits{
   color: var(--roxo);
}
.ponto-kits{
    color: var(--roxo);
    font-size: 50px;
}
.iten-kit{
    text-align: left;
    margin: auto 10%;
}
.iten-kit p{
    padding: 0;
    margin: 0;
}
.btn-kit{
    text-align: right;
    margin: auto 5%;
}
.btn-kit p{
    width: 100%;
    padding: 15% 0
}

/*--------------------------------botões*/
#area_botoes button{
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}
#botaonovo_k button{
    border: 2px solid var(--roxo);
    color: var(--roxo);
}
#botaonovo_k button:hover{
    background: var(--roxo);
    color: var(--branco);
}
#botaorelatorio_k button{
    border: 2px solid var(--verde);
    color: var(--verde);
}
#botaorelatorio_k button:hover{
    background: var(--verde);
    color: var(--branco);
}


/* FIM */

footer{
    margin-bottom: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #9E9E9E;
    text-align: center;
}

#ano-designedBy{
    text-decoration: none;
    font-size: 12px;
    color: #9E9E9E;
}

#fabricaSoftware{
    text-decoration: none;
    color: #9E9E9E;
}

#fabricaSoftware:hover{
    color: #0DB451;
    font-weight: bold;
}